[submodule "cosmologger"]
	path = cosmologger
	url = git@github.com:archway-network/cosmologger.git
[submodule "valuter"]
	path = valuter
	url = git@github.com:archway-network/valuter.git
[submodule "valuter-ui"]
	path = valuter-ui
	url = git@github.com:archway-network/valuter-ui.git
